// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * lorix-one-base.dtsi
 *  Device Tree file for the LORIX One (generic) LoRa gateway from
 *  Wifx SA
 *
 * Based on at91-sama5d4_xplained.dts
 *  Device Tree file for SAMA5D4 Xplained board
 *
 *  Copyright (C) 2015 Atmel,
 *                2015 Josh Wu <josh.wu@atmel.com>
 *  Copyright (C) 2018 Wifx SA,
 *                2018 Yannick Lanz <yannick.lanz@wifx.net>
 *                2026 Yannick Serafini <yannick.serafini@wifx.net>
 */
#include "sama5d4.dtsi"

/ {
	compatible = "atmel,sama5d4", "atmel,sama5";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	aliases {
		rtc0 = &rtc_internal;
		serial1 = &usart1;
		eth0 = &macb0;
	};

	memory {
		reg = <0x20000000 0x08000000>;
	};

	clocks {
		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <12000000>;
		};
	};

	ahb {
		apb {
			uart0: serial@f8004000 {
				atmel,use-dma-rx;
				atmel,use-dma-tx;
				status = "okay";
			};

			spi0: spi@f8010000 {
				cs-gpios = <&pioD 31 0>;
				status = "okay";
				sx1301@0 {
					compatible = "semtech,sx1301";
					spi-max-frequency = <10000000>;
					reg = <0>;
				};
			};

			i2c0: i2c@f8014000 {
				status = "okay";

				temp_sensor: lm75@4d {
					compatible = "lm75";
					reg = <0x4d>;
					status = "okay";
					vs-supply = <&vcc_3v3_reg>;
				};

				i2c_eeprom: i2c_eeprom@58 {
					compatible = "atmel,24mac402";
					reg = <0x58>;
					status = "okay";
					vcc-supply = <&vcc_3v3_reg>;
				};
			};

			i2c2: i2c@f8024000 {
				status = "okay";

				#address-cells = <1>;
				#size-cells = <0>;
			};

			macb0: ethernet@f8020000 {
				phy-mode = "rmii";
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_macb0_rmii &pinctrl_macb0_phy_irq>;

				phy0: ethernet-phy@1 {
					interrupt-parent = <&pioE>;
					interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
					reg = <1>;
				};
			};

			mmc1: mmc@fc000000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_mmc1_clk_cmd_dat0 &pinctrl_mmc1_dat1_3 &pinctrl_mmc1_cd>;
				vmmc-supply = <&vcc_3v3_reg>;
				vqmmc-supply = <&vcc_3v3_reg>;
				status = "okay";
				slot@0 {
					reg = <0>;
					bus-width = <4>;
					cd-gpios = <&pioE 3 0>;
				};
			};

			usart3: serial@fc00c000 {
				atmel,use-dma-rx;
				atmel,use-dma-tx;
				status = "okay";
			};

			tcb0: timer@f801c000 {
				timer0: timer@0 {
					compatible = "atmel,tcb-timer";
					reg = <0>;
				};

				timer1: timer@1 {
					compatible = "atmel,tcb-timer";
					reg = <1>;
				};
			};

			/* disable unused TCB */
			tcb1: timer@fc020000 {
				status = "disabled";
			};
			tcb2: timer@fc024000 {
				status = "disabled";
			};

			watchdog@fc068640 {
				status = "okay";
			};

			rtc_internal:rtc@fc0686b0 {
				status = "okay";
			};

			pinctrl@fc06a000 {
				board {
					pinctrl_mmc1_cd: mmc1_cd {
						atmel,pins =
							<AT91_PIOE 3 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH>;
					};
					pinctrl_usba_vbus: usba_vbus {
						atmel,pins =
							<AT91_PIOE 31 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
					};
					pinctrl_usb_id: usb_id {
						atmel,pins =
							<AT91_PIOD 11 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH>;
					};
					pinctrl_macb0_phy_irq: macb0_phy_irq_0 {
						atmel,pins =
							<AT91_PIOE 0 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH>;
					};
					pinctrl_sx1301_rst: sx1301_rst {
						atmel,pins =
							<AT91_PIOA 1 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH>;
					};
					pinctrl_sx1301_scanmode: sx1301_scanmode {
						atmel,pins =
							<AT91_PIOA 2 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_DOWN>;
					};
				};
			};
		};

		usb0: gadget@400000 {
			usb-role-switch;
			status = "okay";
		};

		usb0_role_glue: usb0-role-switch {
			compatible = "wifx,drd-glue";
			status = "okay";

			wifx,udc-controller = <&usb0>;
			vbus-supply = <&vbus_usb_sw>;

			connector {
				compatible = "gpio-usb-b-connector", "usb-b-connector";
				label = "USB mini-AB";
				type = "mini";
				status = "okay";

				id-gpios = <&pioD 11 GPIO_ACTIVE_HIGH>;
				vbus-gpios = <&pioE 31 GPIO_ACTIVE_HIGH>;

				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_usba_vbus &pinctrl_usb_id>;
			};
		};

		usb1: ohci@500000 {
			num-ports = <3>;
			atmel,vbus-gpios = <0 0 0>;
			atmel,id-gpios = <0 0 0>;
			status = "okay";
		};

		usb2: ehci@600000 {
			status = "okay";
		};

		ebi: ebi@10000000 {
			pinctrl-0 = <&pinctrl_ebi_cs3 &pinctrl_ebi_nrd_nandoe
					 &pinctrl_ebi_nwe_nandwe &pinctrl_ebi_nandrdy
					 &pinctrl_ebi_data_0_7 &pinctrl_ebi_nand_addr>;
			pinctrl-names = "default";
			status = "okay";
		};
	};

	i2cmux {
		compatible = "i2c-mux-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		mux-gpios = <&pioB 31 GPIO_ACTIVE_HIGH>;
		i2c-parent = <&i2c2>;
		idle-state = <0>;

		i2c@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			pmic-lorix@60 {
				compatible = "wifx,pmic-lorix";
				reg = <0x60>;

				leds {
					compatible = "wifx,pmic-lorix-led";
					#address-cells = <1>;
					#size-cells = <0>;
					led-control = <0x000 0x000 0x0e0 0x000>;

					sysled {
						reg = <0>;
						label = "status";
						linux,default-trigger = "heartbeat";
					};
				};
			};
		};
	};

	vcc_3v3_reg: fixedregulator_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VCC 3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vddbu_2v_reg: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "VDDBU 2V";
		regulator-min-microvolt = <2000000>;
		regulator-max-microvolt = <2000000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vbus_5v_src: fixedregulator_5v {
		compatible = "regulator-fixed";
		regulator-name = "5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vbus_usb_sw: fixedregulator_vbus_usb_sw {
		compatible = "regulator-fixed";
		regulator-name = "VBUS USB switch";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&pioD 12 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vbus_5v_src>;
	};
};
